body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.dice-container {
    text-align: center;
    display: flex;
}

.dice {
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    place-self: center;
}

.dice.inactive {
    transform: translateY(-20px);
    background-color: #cccccc; /* Greyed out color */
    opacity: 0.5; /* Slightly transparent */
}

.dice.active {
    transform: translateY(0);
    background-color: #fff;
    opacity: 1;
}

.dot.hidden {
    display: none;
}

.roll-button {
    text-align: center;
    display: inline;    
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}

.scoreboard {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.scoreboard h1 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f8f8f8;
}

.score {
    background-color: #cbcbcb;
}

.greyed-out {
    background-color: #fffbe6;
    color: lightgray;
}

td:hover {
    color: #000;
}

.game-over {
    display: none;
    text-align: center;
    font-size: 2em;
    color: white;
    background-color: black;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    width: 80%;
}

.restart-game-btn {
    margin: 20px auto;
    padding: 10px 20px;
    display: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
}

restart-game-btn:hover {
    background-color: #218838;
}